<div style="margin-top: 70px">
  <div class="row justify-content-center">
    <div class="card col-2 mx-1">
      <div class="card-body">
        User Roles
      </div>
    </div>
    <div class="card col-2 mx-1">
      <div class="card-body">
        User Permissions
      </div>
    </div>
    <div class="card col-2 mx-1">
      <div class="card-body">
        User Groups
      </div>
    </div>
    <div class="card col-2 mx-1">
      <div class="card-body">
        Users
      </div>
    </div>
  </div>
</div>